# Copyright 2024 GhostFragment
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

################################################################################
#
# The master .gitignore lives at NWChemEx-Project/DeveloperTools. The .gitignore
# file contained in all other NWChemEx-Project repositories is a synchronized
# copy of the master .gitignore. Thus to make changes to the .gitignore file
# please make them to the master .gitignore file.
#
################################################################################

# These are extensions commonly used to denote temporary files
*.tmp
*.autosave
*.bak

# Python temporaries
__pycache__

# These are directories used by IDEs for storing settings
.idea/
.vscode/

# These are common Python virtual enviornment directory names
venv/
docs/venv/

# These are where Python and Jupyter put files
__pycache__/
.ipynb_checkpoints/

# These are common build directory names
build/
docs/build
docs/doxyoutput
docs/source/api
*-build-*/
Debug/
Release/

# Users commonly store their specific CMake settings in a toolchain file
toolchain.cmake

install/
.DS_Store

